# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\FCAI\FCAI 2\Second Term\Software Engineering 1\Homework\Homework4\Solution\GoFo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
